.ProfileContainer{
    width: 600px;
}

.FollowingUserContainer{
    width: 400px;
}

.UserInfoContainer{
    background-color: #ffffff;
    border: 1px solid #dbdbdb;
    border-radius: 7px;
    padding: 20px 30px;
    position: relative;
    border-bottom: 1px lightgray solid;
}

.UserInfoContainer h1{
    text-transform: capitalize;
    padding-bottom: 10px;
}

.UserInfoContainer h3{
    font-size: 18px;
    font-weight: 500;
    color: #2d363b;
}


.FollowContainer{
    position: absolute;
    top: 10px;
    right: 0;
    margin: 10px 30px 20px;
    display: flex;
    flex-direction: column;
}

.FollowBox{
    padding: 10px 5px;
    border: 1px lightgray solid;
    border-radius: 5px 5px 0 0;
}

.FollowBox h3{
    margin: 0 10px;
}

.FollowButton{
    border:none;
    background-color: rgba(29,161,242,1.00);
    color: white;
    font-size: 16px;
    padding:5px 10px;
    cursor: pointer;
    border-radius: 0 0 5px 5px;
}

.FollowedButton{
    border:none;
    background-color: rgb(139, 159, 170);
    color: rgb(214, 214, 214);
    font-size: 16px;
    padding:5px 10px;
    cursor: pointer;
    border-radius: 0 0 5px 5px;
}

.FollowButton:hover{
    background-color: #2088c9;
}

.FollowBox h3{
    text-align: center;
    font-weight: 600;
}

.FollowText{
    font-size: 13px !important;
    color: #3c4f5c !important;
    font-weight: 400 !important;
}

.UserPostsTitle{
    padding: 20px 30px;
    color: #3c4f5c;
    text-align: center;
}